<!DOCTYPE html>
<html>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>

<!-- Create Javascript object to maintain Title and Title detail information-->
<script>
angular.module('myApp', []).controller('namesCtrl', function($scope) {
    $scope.names = [
                                {
                                                Title: 'Title1',
                                                Detail: 'Detail1',
Genre: 'Adaptation1, Based-on, Drama',
AwardsWon : 'Academy Award Best Art Direction (1933)1',
AwardsNominations: 'Academy Award Best Actress (1933)1',
CastCrew: 'Actor Dick Henderson1'
                                },
                                {
                                                Title: 'Title2',
                                                Detail: 'Detail2',
Genre: 'Adaptation2, Based-on, Drama',
AwardsWon : 'Academy Award Best Art Direction (1933)2',
AwardsNominations: 'Academy Award Best Actress (1933)2',
CastCrew: 'Actor Dick Henderson2'
                                },
                                {
                                                Title: 'Title3',
                                                Detail: 'Detail3',
Genre: 'Adaptation3, Based-on, Drama',
AwardsWon : 'Academy Award Best Art Direction (1933)3',
AwardsNominations: 'Academy Award Best Actress (1933)3',
CastCrew: 'Actor Dick Henderson3'
                                }
                                ];
});
</script>

<body>

<div ng-app="myApp" ng-controller="namesCtrl">
<p>Search for a Title: <input type="text" ng-model="test"></p>
<!-- Use Filter to search a title by its name -->
<ul>
  <li ng-repeat="x in names | filter:{Title :  test}">
<!-- Allow user to pull up details informaion about selected title and hide details on click on same title again -->
<h4><a href="#" ng-click="show = !show">{{x.Title}}</a></h4>
    {{ x.Detail }}

<div ng-show="show">
                <p>Genre: {{x.Genre}}</p>
                <p>Awards Won: {{x.AwardsWon}}</p>
                <p>Awards Nominations : {{x.AwardsNominations}}</p>
<p>Cast & Crew : {{x.CastCrew}}</p>

             </div>

  </li>
</ul>

</div>

</body>
</html>
